@model BookStore_WebApplication.Delivery

@{
    ViewData["Title"] = "Details";
}

<h4>Інформація про доставку: "@Model.DeliveryName"</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a> |
    <a asp-action="Index">Назад</a>
</div>
